.lol{
    font-family: Arial;
    background-color: royalblue;
    height: 100px;
    width: auto;
    text-align: center;
    border-radius: 12px;
    text-decoration:bisque;
    color: white;
    padding-top: 1px;
}

.menu{
    width: 55px;
    font-family: Arial;
    border: none;
    outline: none;
    display: block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    background: #2196F3; 
    padding: 12px 16px;
    border-radius: 100px;
    color: #fff;
    margin-top: 10px;
}
